/* Reset básico para garantir consistência */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1,6;
  background-color: #f4f4f4;
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.header h1 {
  font-size: 2.5rem;
  color:darkgoldenrod
}

.header h2 {
  font-size: 1.2rem;
  color:crimson
}

nav {
  background-color:#858080;
  color: #fff;
  padding: 1rem;
}

.nav1 {
  background-color:#858080;
  color: #fff;
  padding: 1rem;
  list-style-type:none;
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr; /* Duas colunas, uma maior para o main e uma menor para a sidebar */
  gap: 1rem;
}

main {
  background-color: #fff;
  padding: 5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-column: 1 / 2; /* Ocupa a primeira coluna */
}

.main-content {
  margin-bottom: 2rem;
}

.image-sidebar-container {
  display: flex; /* Alinha a imagem e a sidebar lado a lado */
  gap: 1rem; /* Espaço entre a imagem e a sidebar */
  align-items: flex-start; /* Alinha a imagem e a sidebar ao topo */
  margin-bottom: 2rem; /* Espaço abaixo do contêiner */
}

.img1 {
  flex: 3; /* A imagem ocupará 3 partes do espaço disponível */
  max-width: 100%; /* Garante que a imagem não ultrapasse seu contêiner */
  height: auto;
  border-radius: 8px;
}

.sidebar {
  flex: 1; /* A sidebar ocupará 1 parte do espaço disponível */
  background-color: #e2e2e2;
  padding: 1rem;
  border-radius: 8px;
  grid-column: 2/3;
}

.sidebar h2 {
  margin-bottom: 1rem;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 0.5rem;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.sidebar nav ul li a:hover {
  color: #007bff;
}

main h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

main article p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  padding: 10px;
  gap: 5px;
}

main article ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

main article ul li {
  flex: 1 1 calc(50% - 1rem);
  margin-bottom: 1rem;
  font-weight: 100;
  font-size: medium;
  color: #333;
}

main article ul img {
  max-width: 100px;
  height: auto;
  border-radius: 8px;
  display: block;
  margin: 0.5rem auto;
}

main article p:last-of-type {
  margin-top: 1rem;
  font-style: italic;
  color: #333;
}

footer {
  background-color:#858080;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}