* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.header {
  grid-area:header;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.header h1 {
  font-size: 2.5rem;
  color: darkgoldenrod;

}

.header h2 {
  font-size: 1.2rem;
  color: crimson;
}

nav {
  background-color: #858080;
  color: #000000;
  padding: 1rem;
}

.nav1 {
  background-color: #858080;
  color: #fff;
  padding: 1rem;
  list-style-type:none;
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap: 1rem;
  font-size: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.content-container {
display:grid;
grid-template-areas:
"header header"
"sidebar main";
  gap: 2rem; /* Espaço entre o main e o aside */
 
}

.main-content {
  flex: 1; /* Main ocupa mais espaço */
  background-color: #fff;
  padding: 1.5rem;
  padding-bottom: 1,5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  gap: 2px;
}

.img {
  max-width: 65%; /* Garante que a imagem não ultrapasse o contêiner */
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.sidebar {
  grid-area:auto;
  background-color: #e2e2e2;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(153, 153, 153, 0.1);
  text-align:center;
  font-size: 20px;
}

.sidebar h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 0.5rem;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

.sidebar nav ul li a:hover {
  color: #007bff;
}

.h4{
 font-size: 25px;
  color:goldenrod;
  gap:5px;
  margin-bottom: 20px;

}

.text{
  font-size: 20px;
  text-shadow: 10px #e20909;
  text-decoration: #007bff;
  gap: 5px;
  margin-bottom: 35px;
}

.subtitle{`
font-size: 70px;
color: goldenrod;
margin-bottom: 15px;
}

.atrailer {
  display: block; /* Faz com que o link ocupe toda a linha */
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  text-align:justify;
  justify-content: center;
  align-items: center;
}

.imgtrailer {
  display: block;
  width: 300px; /* Define a largura da imagem */
  height: 200px; /* Define a altura da imagem */
  cursor: pointer; /* Muda o cursor para mão ao passar sobre a imagem */
}

.ultrailer{
  font-size: large;
  list-style: none;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: center;
  text-align:center;
  align-items: center;
  gap: 8rem;
}

footer {
  background-color: #858080;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}